@import "tailwindcss";

.borde-personalizado{
    border: 1px solid grey;
    padding: 15px;
    border-radius: 5px;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-italic';
    src: url('./assets/fonts/Poppins-Italic.ttf');
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('./assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Poppins-semibold';
    src: url('./assets/fonts/Poppins-SemiBold.ttf');
}
/* 
body{
    font-family: 'Poppins-regular';
} */

.poppins-regular{
    font-family: 'Poppins-regular';
}
.poppins-italic{
    font-family: 'Poppins-italic';
}
.poppins-bold{
    font-family: 'Poppins-bold';
}
.poppins-semibold{
    font-family: 'Poppins-semibold';
}

/* Fondo oscuro */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
  }
  
  .modal-content {
    
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    opacity: 0;
    transform: scale(0.95);
  }
  
  /* Cuando el modal está abierto */
  .ReactModal__Content--after-open {
    opacity: 1;
    transform: scale(1);
  }
  
  /* Cuando el modal se está cerrando */
  .ReactModal__Content--before-close {
    opacity: 0;
    transform: scale(0.95);
  }

  .boton {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 100%;
}

.boton:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c"; /* use the hex value here... */
    font-size: 14px; 
    color: #FFF;
    line-height: 20px;
    text-align: center;
}

.sombra{
    box-shadow: 5px 5px 30px rgb(183, 183, 183);
}
  
.basket{
    border: 1px solid grey;
    border-radius: 100px;
    padding: 5px;
}

.numeroPedido
{
    right: -10px;
    display: flex;
    justify-content: center;
    top: -15px;
    border: 1px solid red;
    background-color: rgba(128, 128, 128, 0.469);
    border-radius: 100%;
    padding: 1px;
    min-height: 30px;
    min-width: 30px;
}

.sombreado{
  box-shadow: -8px 0 10px -5px black, 8px 0 10px -5px black;
}
